.header .container {
  display: flex;
  padding: 22px 15px;
  align-items: center;
  font-size: 22px;
  border: 1px solid #000;
  border-radius: 2px;
}

.header-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.header-users-count,
.header-messages-count {
  margin-left: 30px;
}

.header-last-message-date {
  margin-left: auto;
}
