.login-page {
  margin: 50px auto 0;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 20px;
}

.login-page p {
  box-sizing: border-box;
  width: 400px;
  display: flex;

}

.login-page label,
 .login-input-text {
  width: 200px;
  margin: 0 0 0 20px;
  font-size: 20px;
}

.login-page label {
  text-align: right;
}

.message-input-button {
  margin-top: 20px;
}
