.message-input {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.message-input .message-input-text {
  font-family: 'Shadows Into Light', sans-serif, cursive;
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
}


.message-input-button {
  font-size: 18px;
  font-family: 'Shadows Into Light', sans-serif, cursive;
  padding: 5px 15px;
  margin-left: 10px;
}
