
.user-item {
  display: flex;
  align-items: center;
  width: 650px;
  padding: 10px;
  margin: 15px auto 15px 0;
  font-size: 18px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 2px;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

.user-edit,
.user-delete {
  margin-left: 20px;
  font-family: 'Shadows Into Light', sans-serif, cursive;
}
