
.message {
  display: flex;
  align-items: center;
  width: 650px;
  padding: 10px;
  margin: 15px auto 15px 0;
  font-size: 18px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.message-user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.message-user-avatar img{
  width: 100%;
  height: auto;
}

.message-wrapper {
  margin-left: 15px;
  gap: 15px;
}

.message-info {
  display: flex;
  align-items: center;
}

.message-time,
.message-like {
  margin-left: 20px;
  font-family: 'Shadows Into Light', sans-serif, cursive;
}
