.page-notfound {
  width: 900px;
  margin: 90px auto;
  padding: 0 120px;
}


.page-notfound h2 {
  text-align: center;
  font-size: 24px;
}

.page-notfound p {
  text-align: center;
  font-size: 20px;
}
