.preloader,
.preloader:after {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.preloader {
  margin: auto;
  font-size: 0;
  position: relative;
  border-top: 0.7rem solid rgba(0, 0, 0, 0.2);
  border-right: 0.7rem solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.7rem solid rgba(0, 0, 0, 0.2);
  border-left: 0.7rem solid black;
  transform: translateZ(0);
  animation: load 1.1s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
