
.own-message {
  list-style: none;
  width: 650px;
  margin: 15px 0 15px auto;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
}

.message-edit,
.message-delete {
  margin-left: 20px;
  font-family: 'Shadows Into Light', sans-serif, cursive;
}
