.messages-divider {
  list-style: none;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages-divider-line {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.messages-divider-text {
  box-sizing: border-box;
  border-radius: 2px;
  min-width: 150px;
  padding: 5px 20px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: rgb(27, 27, 27);
}
