body {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', sans-serif, cursive;
}

#root {
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

}

.main {
  padding: 10px 0;
}

.footer {
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 5px 60px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(27, 27, 27);
  border-radius: 2px;
}
